body {
    background-image: url("/Users/mickeyaj/Desktop/Code Projects/MP2 Project/MP2_project/img/school-background.jpeg");
    background-attachment:fixed;
    background-position: center;
    font-family: "Pixelify Sans";
}

button {
    position: fixed;
    bottom: 150px;
    right: 575px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    height: 100px;
    width: 300px;
}

#game-container {
    position: fixed;
    top: 0;
    left: 380px;
    border: solid 10px black;
    border-radius: 10px;
    background-color: white;
    height: 812px;
    width: 720px;
}

#prompt-container {
    position: fixed;
    border: solid 5px black;
    border-radius: 20px;
    width: 600px;
    height: auto;
    left: 445px;
    top: 50px;
}

#prompt-container p {
    text-align: center;
    font-size: 24px;
}

#choices-container {
    position: fixed;
    bottom: 50px;
    left: 448px;
    height: 400px;
    width: 600px;
}

#choices-container img {
    position: fixed;
    left: 600px;
    bottom: 200px;
    height: 150px;
    width: 300px;
}