body {
    background-image: url("/Users/mickeyaj/Desktop/Code Projects/MP2 Project/MP2_project/img/school-background.jpeg");
    background-attachment:fixed;
    background-position: center;
}

button {
    position: fixed;
    bottom: 150px;
    right: 575px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    height: 100px;
    width: 300px;
}

#game-container {
    position: fixed;
    top: 0;
    left: 380px;
    border: solid 10px black;
    border-radius: 10px;
    background-color: white;
    height: 812px;
    width: 720px;
}